body {
  background-image: url(testwallpaper.jpg);
  --type: linear-gradient();
}
#block {
  position: absolute;
  top: 32px;
  left: 400px;
  background: white;
  width: 64px;
  aspect-ratio: 1;
}
#block2 {
  position: absolute;
  top: 32px;
  left: 500px;
  background: rgb(190, 102, 102);
  width: 64px;
  aspect-ratio: 1;
}
.block3 {
  position: absolute;
  top: 32px;
  left: 600px;
  background: rgb(57, 196, 115);
  width: 64px;
  aspect-ratio: 1;
}
/*! Not related to the project */

#INTERFACE {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #3090d7;
  width: 150px;
  height: auto;
  background: #202124;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 15px 25px;
  border: 2px solid #00000000;

  transition: 0.2s border;
  z-index: 999999;
}
.group::after {
  content: "";
  opacity: 0;
  transition: 0.2s all;
}
.group:hover::after {
  opacity: 1;
  content: "copy";
  margin-left: 6px;
  color: white;
  font-size: 12px;
}
input {
  outline: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: e-resize;
  margin: 10px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #454649;
  height: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -5px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 12px;
  width: 12px;
}
.orange {
  color: #e5642e;
}
#INTERFACE:hover {
  border: 2px solid #3090d7;
}
.aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.finding {
  border: 1px inset #53e926;
  cursor: copy;
}
#finder {
  transition: 0.2s all;
}
#finder:hover {
  font-size: 0px !important;
}
#finder::after {
  content: "＋";
  font-size: 0;
  transition: 0.2s all;
}
#finder:hover::after {
  color: #53e926;
  font-size: 22px;
}
